body{
    background-color: transparent !important;
    margin: 0;
    width: auto !important;
}
button {
    cursor: pointer;
}

.bubble-chat-button, .bubble-button-img {
    width: 3rem;
    cursor: pointer;
    border-radius: 50px;
    z-index: 9999999;
}
.bubble-chat-popup {
    height: 30rem;
    position: fixed;
    right: 6rem;
}
.bubble-chat-body {
    height: 65.5%;
}
#bubble_chat_popup.fullscreen-laptop .bubble-chat-body{
    height: 81%;
}
.credit-to {
    background-color: lightgray;
}

.bot-picture img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
}
.bot-close button {
    background-color: transparent;
    border: 0;
    padding: 10px;
    width: 25px;
    height: 25px;
}
.bot-close i {
    font-size: 10px;
}

/* messages styles */
img.img-avatar-chat {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
}
ul#messages {
    width:100%;
    height: 100%;
    list-style-type: none;
    padding:18px;
    bottom:47px;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
}
.msg-content {
    font-size: 13px;
}

.bubble-chat-popup{
    display: none;
}
.bubble-chat-footer .dropdown-toggle::after {
    display: none !important;
}
.bubble-chat-footer .dropdown-menu {
    font-size: 12px;
    top: -18px !important;
}
.bubble-chat-footer .dropdown-item:focus, .dropdown-item:hover {
    color: #505050 !important;
    text-decoration: none;
    background-color: #f8f9fa !important;

}

@media only screen and (max-width: 400px) {
    .bubble-chat-popup {
        height: 30rem;
        position: fixed;
        right: 10px;
        bottom: 6rem;
    }
    .bubble-chat-popup.hp.w-25 {
        width: 85% !important;
    }
    .bubble-chat-popup.hp.w-100 {
        width: 95% !important;
        height: 43rem;
    }
    .bubble-chat-popup.hp.w-100 .bubble-chat-body {
        height: 80%;
    }
    .bubble-chat-popup.hp:after{
        bottom: -27px !important;
        right: 23px !important;
    }
}

@media only screen and (max-width: 950px) {
    .bubble-chat-popup {
        height: 25rem;
        position: fixed;
        right: 10px;
        bottom: 6rem;
    }
    .bubble-chat-popup.w-25 {
        width: 20rem !important;
    }
    .bubble-chat-popup:after{
        bottom: -27px !important;
        right: 23px !important;
    }
    #bubble_chat_popup.fullscreen-hp .bubble-chat-body{
        height: 81%;
    }
}
